<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="rpm_response_time" data-view="Meter" data-title="Response Time" data-min="0" data-max="100"></div>
</li>

<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="jenkinsBuildStatus" data-view="JenkinsBuildStatus" data-title="Jenkins"></div>
</li>
<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-view="Countdown" data-title="Upgrade" data-end="02-Jun-2015 23:00:00"></div>
</li>

<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
  <div data-id="bitbucket_commit_count_all" data-view="Number" data-title="Commits this year"></div>
</li>

  </ul>
</div>
